#contactpage{
    display: flex;
    width: 100vh;
    max-width: 60rem;
    min-height: calc(100vh - 4rem);
    margin: 0 auto;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contactpagetitle{
    font-size: 3rem;
    margin-bottom: 1rem;
}
.contactdesc{
    font-size: medium;
    font-weight: 300;
    padding: 1rem;
}
.contactform{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    max-width: 60rem;
    margin: 1rem;
    justify-content: center;
}
.name, .email, .msg {
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    font-size: medium;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: rgb(40, 40, 40);
}
.submitbtn{
    background: white;
    border: none;
    padding: 0.75rem 3.5rem;
    border-radius: 0.5rem;
    margin: 2rem;
}
.links{
    display: flex;
    flex-wrap: wrap;
}
.link{
    object-fit: cover;
    width: 3rem;
    height: 3rem;
    margin: 0 0.75rem;
}
@media screen  and (max-width:585px) {
    #contactpage{
      width: 80%;
    }
  
      .workimg {
          height: 48vw;
      }
      .workstitle {
          font-size: 5vw;
          text-align: center;
      }
      .worksdesc {
          font-size: 3vw;
      }
  }
  
/*@media screen and (max-width:480px) {
    .skillbartext p{
        font-size: 3vw;
    }
    .skillbarimg{
        height: 2.25rem;
        width: 2.25rem;
    }
    .skillbartext h2{
        font-size: 5vw;
        text-align: center;
    }
    
}*/
